<% content_for :javascript do %>
  <script type='text/javascript'>
    $(function () {
      Registrations.init();
    });
  </script>
<% end %>
<div>
    <div class="zurb-row main-action-bar">
        <div class="large-3 medium-4 columns">
            &nbsp;
        </div>
        <div class="large-6 medium-6 columns">
            <h1 class="center">
                Link Company User
            </h1>
        </div>
        <div class="large-3 medium-2 columns">
        </div>
    </div>
    <div class="zurb-row">
        <div class="columns margin-bottom">
            <div style="display: none ">
                <%= render :partial => 'company_form' %>
            </div>
            <% contacts = existings_for @user %>

            Is this the Company you want to add?

            <table class="grid-view margin-bottom responsive" summary="Contacts List">
                <thead>
                <tr>
                    <th></th>
                    <th>Type</th>
                    <th>Name</th>
                    <th>Primary Phone</th>
                    <th>Mailing address</th>
                    <th>Associated Projects</th>
                </tr>
                </thead>
                <tbody>
                <% contacts.each_with_index do |c, index| %>
                  <tr class="clickable" data-name="clickable">
                      <td>
                          <%= radio_button_tag(:contact_selector, c.id, index == 0) %>
                          <%= link_to 'Show', contact_path(c), target: '_blank', data: {name: 'clickable-link'}, style: "display: none" %>
                      </td>
                      <td><%= c.type_name %></td>
                      <td><%= c.display_name %></td>
                      <td><%= c.primary_phone %></td>
                      <td>
                          <%= render :partial => 'shared/mailing_address', locals: {user: c} %>
                      </td>
                      <td></td>
                  </tr>
                <% end %>
                </tbody>
            </table>

            <%= form_for root_user, :as => :user, url: add_existing_contact_user_path(root_user), :html => {:class => 'form-horizontal', :style => 'display: none', data: {name: 'suggestion_form'}} do |f| %>
              <%= f.fields_for :relationships, @user.relationships do |p| %>
                <div>
                    <%= p.hidden_field :association_type, value: Relationship.reflex_association_type(p.object.association_type) %>
                    <%= p.hidden_field :role, value: p.object.role %>
                    <%= p.hidden_field :contact_id, data: {name: 'contact-holder'} %>
                </div>
              <% end %>
            <% end %>

            <%= link_to "Yes", "javascript:void(0)", class: 'btn', data: {name: 'existing_submit'} %>
            <%= link_to "No, I want to create a different Company", "javascript:void(0)", class: 'btn', data: {name: 'submit', target: 'input_form'} %>

        </div>
    </div>
</div>

