<%= form_for(@person) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
    </br>
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
    </br>
    <%= f.label :email %>
    <%= f.email_field :email %>
    </br>
    <%= f.label :phone_1 %>
    <%= f.telephone_field :phone_1 %>
    <%= f.label :phone_tag_1 %>
    <%= f.select(:phone_tag_1, ["Cell", "Office", "Home", "Fax"]) %>
    </br>
    <%= f.label :phone_2 %>
    <%= f.telephone_field :phone_2 %>
    <%= f.label :phone_tag_2 %>
    <%= f.select(:phone_tag_2, ["Cell", "Office", "Home", "Fax"]) %>
    </br>
    <%= f.label :website %>
    <%= f.text_field :website %>
    </br>
    <%= f.label :address_line_1 %>
    <%= f.text_field :address_line_1 %>
    </br>
    <%= f.label :address_line_2 %>
    <%= f.text_field :address_line_2 %>
    </br>
    <%= f.label :city %>
    <%= f.text_field :city %>
    </br>
    <%= f.label :state %>
    <%= f.text_field :state %>
    </br>
    <%= f.label :zipcode %>
    <%= f.text_field :zipcode %>
    </br>
    <%= f.submit %>
  </div>
<% end %>
