<% content_for :javascript do %>
  <script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
  <script type='text/javascript'>
    $(function () {
      Map.init();
    });
  </script>
<% end %>

<%= p.hidden_field(:id, data: { profile: "" }) %>

<div class="control-group">
    <%= p.label :first_name, "First Name", :class => 'col-lg-2 control-label' %>
    <div class="controls">
        <%= p.text_field(:first_name) %>
    </div>
</div>

<div class="control-group">
    <%= p.label :last_name, "Last Name", :class => 'col-lg-2 control-label' %>
    <div class="controls">
        <%= p.text_field(:last_name) %>
    </div>
</div>

<div class="control-group">
    <%= p.label :phone_1, "Primary Phone", :class => 'col-lg-2 control-label' %>
    <div class="controls">
        <%= p.text_field(:phone_1, value: number_to_phone(p.object.phone_1, :area_code => true)) %>
        <%= p.select(:phone_tag_1, Constants::PRIMARY_PHONE_TAGS) %>
    </div>
</div>
<div class="control-group">
    <%= p.label :phone_2, "Secondary Phone", :class => 'col-lg-2 control-label' %>
    <div class="controls">
        <%= p.text_field(:phone_2, value: number_to_phone(p.object.phone_2, :area_code => true)) %>
        <%= p.select(:phone_tag_2, Constants::SECONDARY_PHONE_TAGS) %>
    </div>
</div>

<div class="control-group">
    <%= p.label :website, "Website", :class => 'col-lg-2 control-label' %>
    <div class="controls">
        <%= p.text_field(:website) %>
    </div>
</div>

<div class="control-group">
    <%= p.label :address_line_1, "Address Line 1", :class => 'col-lg-2 control-label' %>
    <div class="controls">
        <%= p.text_field(:address_line_1, class: 'input-xlarge', data: {name: 'address', id: 'main'}) %>
    </div>
</div>

<div class="control-group">
    <%= p.label :address_line_2, "Address Line 2", :class => 'col-lg-2 control-label' %>
    <div class="controls">
        <%= p.text_field(:address_line_2, class: 'input-xlarge', data: {name: 'address'}) %>
    </div>
</div>

<div class="control-group">
    <%= p.label :city, "City", :class => 'col-lg-2 control-label' %>
    <div class="controls">
        <%= p.text_field(:city, data: {name: 'locality'}) %>
    </div>
</div>
<div class="control-group">
    <%= p.label :state, "State", :class => 'col-lg-2 control-label' %>
    <div class="controls">
        <%= p.text_field(:state, data: {name: 'administrative_area_level_1'}) %>
    </div>
</div>

<div class="control-group">
    <%= p.label :zipcode, "Zipcode", :class => 'col-lg-2 control-label' %>
    <div class="controls">
        <%= p.text_field(:zipcode, data: {name: 'postal_code'}) %>
    </div>
</div>

