<p>
    <b><%= "Company Name:" %></b>
    <%= user.company_name %>
</p>

<p>
    <b><%= user.phone_tag_1 + ":" %></b>
    <%= number_to_phone(user.phone_1, :area_code => true) %>
</p>

<p>
    <b><%= user.phone_tag_2 + ":" %></b>
    <%= number_to_phone(user.phone_2, :area_code => true) %>
</p>

<p>
    <b><%= "Website:" %></b>
    <%= link_to user.website, "http://" + user.website %>
</p>

<p>
    <b><%= "Address Line 1:" %></b>
    <%= user.address_line_1 %>
</p>

<p>
    <b><%= "Address Line 2:" %></b>
    <%= user.address_line_2 %>
</p>

<p>
    <b><%= "City:" %></b>
    <%= user.city %>
</p>

<p>
    <b><%= "State:" %></b>
    <%= user.state %>
</p>

<p>
    <b><%= "Zipcode:" %></b>
    <%= user.zipcode %>
</p>

<p>
    <b><%= "Last Updated:" %></b>
    <%= user.updated_at %>
</p>