<p>
    <%= p.label :company_name %>
    <%= p.text_field :company_name %>
</p>

<p>
    <%= p.label :phone_1 %>
    <%= p.text_field :phone_1 %>
    <%= p.label :phone_tag_1 %>
    <%= p.text_field :phone_tag_1 %>
</p>

<p>
    <%= p.label :phone_2 %>
    <%= p.text_field :phone_2 %>
    <%= p.label :phone_tag_2 %>
    <%= p.text_field :phone_tag_2 %>
</p>

<p>
    <%= p.label :address_line_1 %>
    <%= p.text_field :address_line_1 %>
    <%= p.label :address_line_2 %>
    <%= p.text_field :address_line_2 %>
</p>

<p>
    <%= p.label :city %>
    <%= p.text_field :city %>
</p>

<p>
    <%= p.label :state %>
    <%= p.text_field :state %>
</p>

<p>
    <%= p.label :zipcode %>
    <%= p.text_field :zipcode %>
</p>

<p>
    <%= p.label :website %>
    <%= p.text_field :website %>
</p>