<table class="grid-view margin-bottom responsive" summary="Contacts List">
    <thead>
    <tr>
        <th>Type</th>
        <th>Name</th>
        <th>Primary Phone</th>
        <th>Email</th>
        <th>Associated Projects</th>
        <th>Actions</th>
    </tr>
    </thead>

    <tbody>
    <% contacts.each do |c| %>
      <tr>
          <td><%= c.type_name  %></td>
          <td><%= c.display_name %></td>
          <td><%= c.primary_phone %></td>
          <td><%= c.email  %></td>
          <td></td>
          <td>
              <%= link_to 'Show', contact_path(c), :title => 'Show', :class => 'view table-action' %>
          </td>
      </tr>
    <% end %>
    </tbody>
</table>