<table class="grid-view margin-bottom responsive" summary="Contacts List">
    <thead>
    <%= sorted_th ["Type", "type_name"] %>
    <%= sorted_th ["Name", "display_name"] %>
    <%= sorted_th ["Primary Phone", "phones", "medium"] %>
    <%= sorted_th ["Mailing address", "addresses", "medium"] %>
    <th>Associated Projects</th>
    <%= sorted_th ["Notes", "notes"] %>
    </thead>

    <tbody>
    <% grouped_relationships.each do |gr| %>
      <% r = gr.results.first %>
      <tr class="clickable" data-name="clickable">
          <td>
              <%= r.user.type_name %>
              <%= link_to 'Show', contact_path(r.user), data: {name: 'clickable-link'}, :style => 'display: none' %>
          </td>
          <td><%= r.user.display_name %></td>
          <td><%= phone_for(r.user) %></td>
          <td>
              <%= render :partial => 'shared/mailing_address', locals: {user: r.user} %>
          </td>
          <td></td>
          <td><%= note_of_root_for(r.user).try(:content) %></td>
      </tr>
    <% end %>
    </tbody>
</table>