<%= form_for @user, :as => :user, url: @user.new_record? ? contacts_path : contact_path, :html => {:class => 'form-horizontal', data: {name: 'input_form'}} do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this contact from being saved:</h2>
        <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
        </ul>
    </div>
  <% end %>
  <%= render :partial => 'input_fields', locals: {f: f, user: @user, profile: @profile} %>
  <div class="control-group">
      <div class="controls">
          <%= f.submit "Save", :class => 'btn' %>
          <%= link_to "Cancel", contacts_path, :class => 'btn' %>
      </div>
  </div>
<% end %>