<%
   if is_a_company_contact? user
     job_type = Constants::COMPANY_CONTACT
   elsif is_a_employee_of_root? user
     job_type = Constants::COMPANY_EMPLOYEE
   else
     job_type = Constants::SELF_EMPLOYED
   end

   company_contact_display = job_type == Constants::COMPANY_CONTACT ? "" : "none"
   company_employee_display = job_type == Constants::COMPANY_EMPLOYEE ? "" : "none"
   self_employed_display = job_type == Constants::SELF_EMPLOYED ? "" : "none"
%>

<% if user.is_a?(PersonUser) %>
  <div class="control-group">
      <%= label_tag :type_name, "Employment Status", class: 'col-lg-2 control-label' %>
      <div class="controls">
          <%= f.radio_button(:job_type, Constants::SELF_EMPLOYED, checked: job_type == Constants::SELF_EMPLOYED) %>
          <%= f.label(:job_type_self_employed, "Self-Employed") %>
          <br/>
          <%= f.radio_button(:job_type, Constants::COMPANY_CONTACT, checked: job_type == Constants::COMPANY_CONTACT) %>
          <%= f.label(:job_type_company_contact, "Employed by Company") %>
          <br/>
          <%= f.radio_button(:job_type, Constants::COMPANY_EMPLOYEE, checked: job_type == Constants::COMPANY_EMPLOYEE) %>
          <%= f.label(:job_type_company_employee, "Employed by My Company") %>
      </div>
  </div>

  <div class="control-group" data-name="company_contact" data-class="job_type" style="display: <%= company_contact_display %>">
      <%= label_tag :company_name, "Company", class: 'col-lg-2 control-label' %>
      <div class="controls">
          <%= f.fields_for :relationships, user.source_employee_relationships.ignores([root_user.id]).first_or_initialize do |p| %>
            <%= p.hidden_field :id %>
            <%= p.hidden_field :association_type, value: Constants::EMPLOYEE %>
            <%= p.select :contact_id, root_user.company_contacts.collect { |s| [s.display_name, s.id] }, selected: params[:contact_id] %>
            <%= p.hidden_field :role %>
            <%= p.hidden_field :"_destroy", value: job_type != Constants::COMPANY_CONTACT %>
          <% end %>
      </div>
  </div>
<% end %>

<div class="control-group" data-name="self_employed" data-class="job_type" style="display: <%= self_employed_display %>">
    <%= f.label :type, 'Relationships', class: 'col-lg-2 control-label' %>
    <div class="controls">
        <%= f.fields_for :relationships, relationships_for(user) do |p| %>
          <%= render :partial => 'shared/relationship_input', locals: {p: p, u: user} %>
        <% end %>
    </div>
</div>

<% if user.is_a?(PersonUser) %>
  <div class="control-group" data-name="company_employee" data-class="job_type" style="display: <%= company_employee_display %>">
      <div data-name="role">
          <%= label_tag :role, 'Role', class: 'col-lg-2 control-label' %>
          <div class="controls">
              <%= f.fields_for :relationships, user.source_employee_relationships.contact_by(root_user).first_or_initialize do |p| %>
                <%= p.hidden_field :id %>
                <%= p.hidden_field :association_type, value: Constants::EMPLOYEE %>
                <%= p.hidden_field :contact_id, value: root_user.id %>
                <%= p.select :role, options_for_select(Constants::ROLES, user.role_in_company), include_blank: true %>
                <%= p.hidden_field :"_destroy", value: job_type != Constants::COMPANY_EMPLOYEE %>
              <% end %>
          </div>
      </div>
  </div>
<% end %>

<% if is_editable?(user) %>
  <%= f.hidden_field :type %>
  <%= f.hidden_field :skip_existing_checking %>

  <%= f.fields_for :"#{profile.class.name.underscore.pluralize}", profile do |p| %>
    <%= render :partial => "shared/#{profile.class.name.underscore}/#{user.class.name.underscore}_form", :locals => {:p => p} %>
  <% end %>

  <% if user.is_a? PersonUser %>
    <div class="control-group">
        <%= f.label :email, "Email", :class => 'col-lg-2 control-label' %>
        <div class="controls">
            <%= f.text_field(:email) %>
        </div>
    </div>
  <% end %>
<% end %>

<div class="control-group">
    <%= f.label :type, 'Notes', class: 'col-lg-2 control-label' %>
    <div class="controls">
        <%= f.fields_for :notes, note_of_root_for(user) do |n| %>
          <%= n.text_area(:content) %>
          <%= n.hidden_field(:owner_id, value: root_user.id) %>
        <% end %>
    </div>
</div>