<% r_object = u.relationships.owned_by(current_user).types(p.object.association_type).first %>
<div>
    <%= check_box_tag :"association_type_#{p.object.association_type}", nil, r_object.present?, {data: {class: 'association_type'}} %>
    <%= label_tag :"association_type_#{p.object.association_type}", p.object.association_type %>
    <%= p.hidden_field :id, value: r_object.try(:id) %>
    <%= p.hidden_field :association_type, value: p.object.association_type %>
    <%= p.hidden_field :contact_id, value: current_user.id %>
    <%= p.hidden_field :"_destroy", value: r_object.nil? %>
</div>