<% content_for :sub_navigation do %>
  <%= render(:partial => "layouts/sub_navigation/people") %>
<% end %>
<div>
    <div class="zurb-row main-action-bar">
        <div class="large-3 medium-4 columns">
            <%= link_to("View >>", contact_path(@user), :title => 'View', :class => 'view-large action-button') %>
            <%= link_to("Delete >>", contact_path(@user), method: :delete, data: { confirm: 'Are you sure?' }, :title => 'Delete', :class => 'delete-large action-button') %>
        </div>
        <div class="large-6 medium-6 columns">
            <h1 class="center">
                Edit User
            </h1>
        </div>
        <div class="large-3 medium-2 columns">
        </div>
    </div>
    <div class="zurb-row">
        <div class="columns margin-bottom">
            <%= render 'form' %>
            <%= render :partial => 'contacts/company/company_contacts', :locals => {:user => @user} %>
        </div>
    </div>
</div>

