<div class='zurb-row' id='submenu'>
    <ul>
        <li><%= link_to("All", contacts_path) %></li>
        <li><%= link_to("Clients", clients_contacts_path) %></li>
        <li><%= link_to("Vendors", vendors_contacts_path) %></li>
        <li><%= link_to("Employees", employees_contacts_path) %></li>
        <li><%= link_to("Inactive", "#") %></li>
        <li><%= link_to("Import/Export", show_import_export_contacts_path) %></li>
    </ul>
</div>