<div class='zurb-row' id='submenu'>
    <ul>
        <li><%= link_to("All", contacts_path) %></li>
        <li><%= link_to("Clients", "#") %></li>
        <li><%= link_to("Vendors", "#") %></li>
        <li><%= link_to("Employees", "#") %></li>
        <li><%= link_to("Inactive", "#") %></li>
        <li><%= link_to("Import/Export", "#") %></li>
    </ul>
</div>