<%= form_for(@association) do |f| %>
  <% if @association.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@association.errors.count, "error") %> prohibited this association from being saved:</h2>

      <ul>
      <% @association.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :contact_id %><br>
    <%= f.number_field :contact_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
