<div class='zurb-row' id="mainmenu">
    <ul>
        <li>
            <%= link_to("Prospecting", under_construction_path, :class => 'menu item') %>
            <div class="arrow"></div>
        </li>
        <li>
            <%= link_to("Leads", under_construction_path, :class => 'menu item') %>
            <div class="arrow"></div>
        </li>
        <li>
            <%= link_to("Estimating", under_construction_path, :class => 'menu item') %>
            <div class="arrow"></div>
        </li>
        <li>
            <%= link_to("Contracts", under_construction_path, :class => 'menu item') %>
            <div class="arrow"></div>
        </li>
        <li>
            <%= link_to("Project Mgmt", under_construction_path, :class => 'menu item') %>
            <div class="arrow"></div>
        </li>
        <li>
            <%= link_to("Contacts", contacts_path, :class => 'menu item') %>
            <div class="arrow"></div>
        </li>
        <li>
            <%= link_to("Accounting", under_construction_path, :class => 'menu item') %>
            <div class="arrow"></div>
        </li>
        <li>
            <%= link_to("Preferences", under_construction_path, :class => 'menu item') %>
            <div class="arrow"></div>
        </li>
        <li>
            <%= link_to("Company", under_construction_path, :class => 'menu item') %>
            <div class="arrow"></div>
        </li>
    </ul>
</div>